<div class="container">
<div class="m-5 mx-auto" style="width: 30rem; border: 2px solid rgb(52, 122, 189);">
    <div class="card m-5" style="width: 18rem;">
        <img src="assets\IMG_20210215_0022345.jpg" class="card-img-top" alt="david klein">
    </div>
    <div class="card-body ">
        <h5 class="card-title">name: <span class="font-weight-bold">david klein</span></h5>
        <p class="card-text">I'm student in avratech8, I really like the studies and I very much hope to succeed
        </p>
        <ul>
            <li>and I have something good for you</li>
        </ul>
        <div> please presse the booten</div>
        <button (click) = home() class=" btn btn-danger my-2 my-sm-0" type="submit">I love you</button>
    </div>
</div>
</div>


 