  
    <div class="card">
          <div class="card-body">
            <div class="custom-control custom-switch" style="width: 10%; margin-left: 85%;">
              <input type="checkbox" class="custom-control-input" id="customSwitch{{idIndex}}" (click)="toggle()" [checked]='checked' >
              <label class="custom-control-label" for="customSwitch{{idIndex}}"></label>
            </div>
              <h5 class="card-title"> {{idCoin.symbol}} </h5>
                  <p class="card-text">{{idCoin.id}}</p>
                  
                    <div class="collapse show" [ngClass]="{show: show}" >
                      <app-more-data [coinData]="coinData"></app-more-data>
                    </div>
              <button (click)="showContain()"  class="btn btn-primary"> more data </button>
          </div>
      </div>
  


    