<div class="none show" [ngClass] = {show:show}>
    <p>
        <button type="button" class="btn btn-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        update
        </button>
    </p>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
        <div class="card-body">
            You can collapse this card by clicking Toggle
        </div>
        </div>
    </div>
</div>
<button (click) = 'chengeShow()' (click) = 'listToggle()'></button>
<p>You can pass an existing component as content of the modal window. In this case remember to add content component
    as an <code>entryComponents</code> section of your <code>NgModule</code>.</p>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>
