<!-- <div  class="d" [style.padding] ='a+"px"'>
    fsdkfjklsdjf
    <button (click)="lod()" >jhfjdfk</button>
</div> -->
<!-- <div class="box"></div> -->
<div class="container font-weight-bold text-center m-5"
    style=" border: 2px solid rgb(252, 7, 7); border-radius: 10px; height: 400px; ">
    <br>
    <h1 style="font-size: 4em; color: rgb(152, 32, 156);">Thank you,<br> very very much</h1>
    <br><br>
    <h3 style="font-size: 3em;"> I very much enjoyed it so far, and probably so on</h3>
</div>