.bak{
    /* background-image: url(C:\Users\aaron\Desktop\david\david1\anguler\Currency-information\src\assets\הורדה.jpg); */
    background-color: aqua;
    background-image: url(C:\Users\aaron\Desktop\david\david1\anguler\Currency-information\src\assets\imagesa.jpeg) ;
    width: 100%;
    color: rgb(2, 2, 2);
    /* height: 100px; */
}